*	{
    box-sizing: border-box;
}
:root{
    --grisclair:rgb(224, 218, 206);
    --beige:#CA9D66;
    --rouge:#A7413F;
    height: 100%;
}
body	{
    min-height: 100%;
}
/* PAGE PRODUITS */
.cardProd{
    padding-bottom: 20px;
}

img {
    object-fit: cover;
    object-position: 0px;
    height: 300px;
}
.card-body{
    height:206px;
}
.btn-default {
    color: #fff;
    background-color: #CA9D66;
    border-color: #CA9D66;
}
/* PAGE PRODUCT DETAILS */

.no-gutters{
    height:600px;
}
.card-img{
    height:600px;
    margin-left: 200px;
}
.blockText{
    padding-left: 200px;
}