/*form produit*/

.picture{
    margin: auto;
}

.submitt{
    background-color: #CA9D66;
    color: white;
}

.display-inline-block{
    display: inline-block;
}

/*formulaire d'inscription*/

.placeholder_style{
    font-size: 0.8rem;
    background-color: green;
    margin-left: 120px;
}
