/************************************************PAGE PRODUCT ***************************/

* {
    box-sizing: border-box;
}

/* PAGE PRODUITS */
.cardProd {
    padding-bottom: 20px;
}

.card-img-top {
    object-fit: cover;
    object-position: 0px;
    height: 300px;
}

.sizeCardBdy {
    height: 206px;
}

.btn-default {
    color: #fff;
    background-color: var(--beige);
    border-color: var(--beige);
}

.buttonsAlign {
    display: flex;
    justify-content: space-around;

}

/* PAGE PRODUCT DETAILS */
.no-gutters {
    height: 600px;
    display: flex;
}

.crd {
    height: 600px;
    width: 500px;
}

.crd > h5 {
    font-size: 40px;
}

.crd > p {
    font-size: 19px;
}

.card-img {
    object-fit: cover;
    object-position: 0px;
    height: 600px;
}

.btnDetails {
    width: 280px;
    height: 70px;
}
