{% extends "layout.html.twig" %}


{% set current = 'home' %}

{% block page_title %}
    Home
{% endblock %}

{% block content %}

    <div class="row justify-content-center">  <!-- DIV ROW -->
        <div class="col-md-12 col-sm-1">
            <img class="img-responsive" src="{{ asset('images/slider.jpg') }}">
        </div>
        <section class="mt-4 d-flex justify-content-center">
            <div class="col-md-8 col-sm-1">
                <h2>
                    Qui sommes-nous ?
                </h2>
                    <div>
                        <h6>Le projet Motanka est une initiative citoyenne franco-ukrainienne.</h6>
                        <p>
                            Le nom Motanka fut choisi car la poupée Motanka est le symbole ukrainien de la protection du foyer.
                            La page Facebook Organisation Motanka représente le fonds de charité Ukrainien Motanka, ainsi que
                            l’association française Motanka. Ces deux organisations ont été crées dans le but de travailler
                            ensemble pour venir en aide aux victimes de guerre dans la région du Donbass. Notre but est de
                            redonner un lieu de vie décent aux victimes du conflit qui se déroule toujours actuellement en
                            Ukraine et de permettre à la population locale de se reconstruire au présent afin d’imaginer
                            et de construire le future. <br>
                            Nos actions sont principalement ciblées sur la réparation des logements, l’emploi
                            et la vente de produits uniques, fait mains, afin d'assurer un minimum de revenus là ou la guerre le leurs a enlevé.
                        </p>
                        <p>
                            Nous sommes persuadés que croire en quelque chose ne suffit pas, qu’il faut se battre pour
                            ce à quoi l’on croit sans cela nos valeurs n’existent plus, elles ne seront que du vent.
                            Rien ne changera si personne n’agit, car il n’y pas de héros qui vienne tout régler pour nous.
                            <span class="highlight">Cette personne, c’est nous, c'est vous !</span> Agir, faire ce que l’on peut et de son mieux,
                            poser sa brique par terre, et quelqu’un d’autre posera sa brique dessus et pas à pas les choses se construiront.
                            Cela ne dépend pas d’un individu mais de chaque petit geste de chaque individu. <br>
                            <span class="highlight">C’est bâtir, c’est semer, c’est avancer, changer les choses, ne pas être spectateur. </span>
                            Chacun de nous apportant sa brique.
                            <span class="highlight">Parce que c’est dans ce type d’initiative que le mot « Ensemble » prend toute sa force,
                            que nous vous invitons à nous suivre, nous soutenir, contribuer, partager, liker, être là tout simplement …
                            Comme l’a si justement dit Gandhi : « Soyez le changement que vous voulez voir dans le monde ».</span>
                        </p>
                </div>
            </div>
        </section>
            <div class="mt-4 col-md-12 col-sm-1">
                <img class="img-responsive" src="{{ asset('images/maison.jpg') }}">
            </div>
        <section class="mt-4 d-flex justify-content-center">
                <div class="col-md-8 col-sm-1">
                <h2>
                    Nos actions
                </h2>
                <p>
                    Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
                </p>
            </div>
        </section>
    </div>  <!-- FIN de la div ROW -->


{% endblock %}