<!--footer-->
<footer class="footer">
    <div class="container">
        <div class="row bloc3blocs">
            <div class="bloc3blocs2">
                <!-- 1er bloc header -->
                <div class="about">

                </div>
                <!-- 2ème bloc header -->
                <div class="categories">
                    <h3>NOS CATEGORIES</h3>
                </div>
                <!-- 3ème bloc subcribe box header -->


                <div class="subcribeBox">
                    <h3>Inscripton à notre newsletter !</h3>
                    <form id="newsletter" action="public/newsletter.php" method="post" novalidate>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" name="email" class="form-control champ" id="email"
                                   aria-describedby="emailHelp" placeholder="Entrer votre email">
                        </div>
                        <div class="form-group">
                            <label for="prenom">Prénom</label>
                            <input type="text" name="first_name" class="form-control champ" id="prenom"
                                   placeholder="Prénom">
                        </div>
                        <div class="form-group">
                            <label for="nom">Nom</label>
                            <input type="text" name="nom" class="form-control champ" id="nom" placeholder="Nom">
                        </div>
                        <button type="submit" id="envoi" class="btn btn-default">Envoyer</button>
                    </form>
                </div>
            </div>
            <!--All right-->
            <div class="allright">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <p> © 2019 <a href="#">Organisation Motanka</a>. All rights reserved.</p>
                    </div>

                    <div class="col-sm-6 col-xs-12">
                        <ul class="list-social-icon list-social-icon-footer">
                            <li>
                                <a href="#" class="facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="mail">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
</footer>
</div>