<header class="home-header">
<div class="container d-flex align-items-center justify-content-between">

    <div class="row align-items-center">

        <img src="{{ asset('images/logo_Motanka.png') }}" id="logo">
        <div class="title">
            <h1>Organisation <span class="text-uppercase">Motanka</span></h1>
        </div>

    </div>
    {% include 'components/_nav.html.twig' %}
</div> <!-- Fin de la div Container -->


</header> <!-- fin du Header -->
<div class="container white">