<div class="container flex_nav">
<div class="flex_nav_main">
<ul class="nav flex_nav_main">
    <li class="nav-item">
        <a class="nav-link active" href="{{ path('home') }}">Qui Sommes-nous ?</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('home') }}#nos-actions">Nos actions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('product') }}">Le shop</a>
    </li>

</ul>
</div>
</div> <!-- fin du container -->