{% extends "layout.html.twig" %}
{% set current = '' %}
{% block page_title %}
    Inscription
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block final_javascripts %}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-push-2">
                {% for message in app.flashes('notice') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                <h3>S'inscrire</h3>
                {{ form(form, {attr:{novalidate: 'novalidate' }}) }}
            </div>
        </div>
    </div>
{% endblock %}

